.text-500-8 {
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  /* 150% */
}

.text-500-10 {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  /* 150% */
}

.text-500-12 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  /* 133.333% */
}

.text-500-14 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.text-500-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
}

.text-500-20 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 140% */
}

.text-500-24 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 133.333% */
}

.text-500-36 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  /* 122.222% */
}

.text-500-48 {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  /* 125% */
}
