.dev-btn {
}

/* .dev-btn:disabled,
.dev-btn[disabled] {
  background-color: #eaebef !important;
  color: #c0c3ce !important;
} */

.dev-btn-48 {
  padding: 12px 24px 12px 24px;
}

.dev-btn-40 {
  padding: 10px 24px 10px 24px;
}

.dev-btn-36 {
  padding: 8px 24px 8px 24px;
}

.dev-btn-32 {
  padding: 8px 16px 8px 16px;
}

/* .dev-btn:hover {
  
} */
