@import url("border.css");
@import url("button.css");
@import url("dropdown.css");
@import url("flatpickr.css");
@import url("fts.css");
@import url("input.css");
@import url("modal.css");
@import url("shadow.css");
@import url("switch.css");
@import url("text.css");
.react-togtokh-dev .hidden {
  display: none;
}

.react-togtokh-dev .relative {
  position: relative;
}

.react-togtokh-dev .text-center {
  align-items: center;
}

.react-togtokh-dev .w-full {
  width: 100%;
}

.react-togtokh-dev .h-full {
  height: 100%;
}
