.dev-btn {
  text-align: center;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
}

.dev-btn:disabled,
.dev-btn[disabled] {
  background-color: #eaebef !important;
  color: #c0c3ce !important;
}

.dev-btn-48 {
  padding: 12px 24px 12px 24px;
}

.dev-btn-40 {
  padding: 12px 24px 12px 24px;
}

.dev-btn-36 {
  padding: 12px 24px 12px 24px;
}

.dev-btn-32 {
  padding: 12px 24px 12px 24px;
}

/* .dev-btn:hover {
  
} */
