@import url("text/400-xl.css");
@import url("text/500-xxl.css");
@import url("text/500-2xl.css");
@import url("text/600-3xl.css");
@import url("text/700-4xl.css");
.text-xl-12 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.text-xl-14 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.text-xl-12 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

.text-xl-16 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.text-xxl-16 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
}

.text-3xl-16 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
}

.text-xxl-12 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.text-xxl-22 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}

.text-xxl-15 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  /* identical to box height */
}

.text-xxl-14 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
}

.text-sm-12 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.text-sm-14 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
}

.text-4xl-14 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.text-4xl-16 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.text-4xl-20 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.text-justify {
  text-align: justify;
  color: #1e2335;
}

.text-call {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
  color: #0a84ff;
}

.text-call-cencel {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 590;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
  color: #0a84ff;
}

.input-2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: #ffffff;
}

.input-2-lable-active {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  letter-spacing: 0.02em;
  color: #868686;
}

.input-2-lable {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: #868686;
}

.btn-text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn-text-500-14 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-nav-text {
  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
